<!-- <h2 class="my-5 text-primary">Détails de la personne avec id = {{ id }}</h2>
@if (personne) {
    <ul class="alert alert-primary container">
        <li>Nom : {{ personne.nom }}</li>
        <li>Prénom : {{ personne.prenom }}</li>
        <li>Âge : {{ personne.age }}</li>
    </ul>
    } @else {
    <div class="alert alert-danger container" role="alert">
        Cette personne n'existe pas
    </div>
} -->


<h2 class="my-5 text-primary">Détails de la personne avec id = {{ id }}</h2>
@if (personne) {
    <app-form-personne [personne]="personne" (sendPersonne)="modifier($event)" />
    <!-- <form (ngSubmit)="modifier()" #form="ngForm" class="alert alert-primary container">
        <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" [(ngModel)]="personne.nom" name="nom" required minlength="2" #nom="ngModel">
            <span [hidden]="nom.valid || nom.pristine">
                Le nom est obligatoire
            </span>
        </div>
        <div>
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" [(ngModel)]="personne.prenom" name="prenom" required minlength="2"
                #prenom="ngModel">
            <span [hidden]="prenom.valid || prenom.pristine">
                Le prénom est obligatoire
            </span>
        </div>
        <div>
            <label for="age">Âge</label>
            <input type="number" id="age" [(ngModel)]="personne.age" name="age" required min="15" max="150" #age="ngModel">
            <span [hidden]="age.valid || age.pristine">
                L'âge est obligatoire
            </span>
        </div>
        <div>
            <button ngClass="btn btn-primary" [disabled]="form.invalid">
                Modifier
            </button>
        </div>
    </form> -->
    } @else {
    <div class="alert alert-danger container" role="alert">
        Cette personne n'existe pas
    </div>
}

<div class="my-5">
    <button class="btn  text-primary" (click)="retour()">
        <i class="fa-regular fa-circle-left"></i>
    </button>
</div>