<nav class="nav my-2 container">
    <a class="nav-link" routerLinkActive="active-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
        Accueil
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/about">
        Les bases d'Angular
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/valeur">
        Valeur calculée
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/observable">
        Observable
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/subject">
        Subject
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/cycle">
        Cycle de vie (Hooks)
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/formulaire">
        Forms Module
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/calculette">
        Calculette
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/reac-form">
        Reactive Forms Module (Sans FB)
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/builder-form">
        Reactive Forms Module (Avec FB)
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/commentaire">
        Commentaire
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/personne">
        Personne (Service + HTTP)
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/pere">
        Pere (ng content)
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/primeur">
        Primeur
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/clavier">
        Clavier virtuel
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/pays">
        Pays
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/container">
        Subject + Service
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/tchat">
        Tchat & Tweet
    </a>
    <a class="nav-link" routerLinkActive="active-link" routerLink="/auth">
        Authentification
    </a>
</nav>